Personal_AI_Assistant.json
{
  "name": "Personal AI Assistant",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ed8e1520-1aeb-4757-8cae-b82cdc41b253",
      "name": "When chat message received",
      "webhookId": "9bfd6be1-dba2-46e0-b5e1-046a11948dbf"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Request:  {{ $json.chatInput }}\nDate: {{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "#Role\nYou are a highly efficient and detail-oriented assistant designed to handle tasks related to emails, appointments, and scheduling. Your primary repsonsibility is to process user queries, extract relevant data. The tasks you will handle are:\n1. Get Mails: Retrieve emails based on specified criteria.\n2. Send Mail: Compose and send an email with the provided details.\n3. Make an Appointment: Schedule appointments with the given details.\n4. Get Appointments: Retrieve appointments within a specified date range.\n#Task\nYour primary function is to analyze user queries, identify the requested tasks(s), extract all necessary details, and format this information do the task and reply to the user once its done, Do not include n8n watermark.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "23284436-3cbf-484d-b8c8-e94b7838e201",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        200
      ],
      "id": "58983375-9689-46a0-9644-215838481dee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7eaNVKhtLQV4QWV4",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        220
      ],
      "id": "7af49267-4cd9-4bc3-9510-9b6ace25f2c7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        220
      ],
      "id": "4597c63f-d63e-45ac-8235-caf911aeb2b8",
      "name": "Gmail1",
      "webhookId": "c5a89305-2e03-4485-ade3-38b9aa295c01",
      "credentials": {
        "gmailOAuth2": {
          "id": "l01BpkCqA5D3FhKj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gyan07web@gmail.com",
          "mode": "list",
          "cachedResultName": "gyan07web@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        840,
        220
      ],
      "id": "32ce13e2-aca2-4996-ac3a-34897d24e598",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YUQ8goDbarYyWQ1x",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "gyan07web@gmail.com",
          "mode": "list",
          "cachedResultName": "gyan07web@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1040,
        220
      ],
      "id": "9095ae8f-3455-499a-90af-9402c0104a4c",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YUQ8goDbarYyWQ1x",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        440,
        220
      ],
      "id": "3a7084a9-5267-4956-a63e-bda97376b386",
      "name": "Gmail",
      "webhookId": "f605b2ef-6565-4a19-9ed9-37e7db4bdee8",
      "credentials": {
        "gmailOAuth2": {
          "id": "l01BpkCqA5D3FhKj",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdb902b3-11e7-435e-9e73-b37a467d4bc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "666118f2d53aa23bf63e8588047545b0bf7fcf3b7489028e46c26537cc7ed290"
  },
  "id": "avO2nRSrCT6fP6d9",
  "tags": []
}